<div class="row" style="overflow-x: hidden;">
  <h1>My wish</h1>
  <% @wish.products.each do |product| %>
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <%= render partial: 'products/product', locals: { product: product } %>
          <p class="card-text"><%= product.description %></p>
          <%= render partial: 'products/select' %>
        </div>
        <%= render partial: 'buttons', locals: { products: @wish.products, product: product } %>
      </div>
    </div>
  <% end %>
</div>
