<li class="list-group-item">
  <%= link_to product_path(product), class: 'text-decoration-none text-dark' do %>
    <% if product.image.attached? %>
      <div class="d-flex align-items-center">
        <%= image_tag url_for(product.image), alt: product.product_name, class: 'product-image mr-3'%>
      </div>
    <% end %>
    <div>
      <p class="mb-0"><strong><%= product.product_name %>,</strong></p>
      <p class="mb-0"> <%= product.price %></p>
    </div>
  <% end %>
</li>