    <%= link_to product_path(product), class: 'text-decoration-none text-dark' do %>
      <% if product.image.attached? %>
        <picture>
          <%= image_tag url_for(product.image), alt: product.product_name, class: 'img-fluid img-thumbnail'%>
        </picture>
      <% end %>
      <div>
        <h5 class="card-title"><%= product.product_name %></h5>
        <h5 class="card-title"><%= product.price %></h5>
      </div>
    <% end %>
