<div class="d-flex justify-content-between align-items-center mb-3">
  <div>
    <a href="/products/new" class="btn btn-primary mr-2">Add Product</a>
    <a href="/wishes/new" class="btn btn-primary mr-2">Create Wish</a>
    <a href="/wish_requests/new" class="btn btn-primary mr-2">Wish Request</a>
  </div>
</div>
<h1>Products</h1>
<ul>
  <% @products.each do |product| %>
    <%= render partial: 'product', locals: { product: product } %>
  <% end %>
</ul>
